<!DOCTYPE html>
<html th:lang="#{lang.code}" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="keywords" th:content="#{itemRecovery.keywords}">
	    <meta name="description" th:content="#{itemRecovery.description}">
	    <meta name="author" th:content="#{meta.author}">
        <title th:text="${itemRecovery.getNameByLang()} + ' - ' + #{webname}"></title>

        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
            crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/general.css}">
        <link rel="stylesheet" th:href="@{/css/formation.css}">
    </head>
    <body>
        <header th:replace="~{fragments/header.html :: header}"></header>

        <div th:replace="~{fragments/form-lang.html :: form-lang(url = ${url})}"></div>

        <div class="mainContainer">
            <h1 th:text="${itemRecovery.getNameByLang()}"></h1>
            <div class="toc">
                <span class="toc-title" th:text="#{toc.title}"></span>
                <ul class="toc-list">
                    <li>
                        <a href="#recovery">1. <span th:text="#{itemRecovery.recovery}"></span></a>
                    </li>
                    <li>
                        <a href="#obtention">2. <span th:text="#{general.obtention}"></span></a>
                    </li>
                    <li>
                        <a href="#other-languages">3. <span th:text="#{general.inOtherLanguages}"></span></a>
                    </li>
                    <li>
                        <a href="#source">4. <span th:text="#{source}"></span></a>
                    </li>
                </ul>
            </div>

            <section>
                <h2 id="recovery" th:text="#{itemRecovery.recovery}"></h2>
                <div th:replace="~{fragments/item-fragments.html :: 
                    recovery-table(
                        recoveries = ${recoveries}
                    )}">
                </div>
            </section>

            <section>
                <h2 id="obtention" th:text="#{general.obtention}"></h2>
                <p th:unless="${itemRecovery.showObtention()}"
                    th:text="#{general.noData}"></p>
                <th:block th:if="${itemRecovery.showObtention()}">
                    <div th:replace="~{fragments/item-fragments.html :: 
                        item-obtention(
                            item = ${itemRecovery}
                        )}">
                    </div>
                </th:block>
            </section>

            <section>
                <h2 id="other-languages" th:text="#{general.inOtherLanguages}"></h2>
                <div th:replace="~{fragments/other-languages.html :: 
                    other-languages(names = ${inOtherLanguages})}">
                </div>
            </section>

            <section>
                <h2 id="source" th:text="#{source}"></h2>
                <ul> 
                    <li>
                        <a th:text="#{source.kouryakusimasu}"
                            th:href="#{source.equipment}"></a>
                    </li>
                    <li>
                        <a th:text="#{source.fandom.text}"
                            th:href="#{source.fandom.link}"></a>
                    </li>
                    <li>
                        <a th:text="#{source.fandomes.text}"
                            th:href="#{source.fandomes.link}"></a>
                    </li>
                </ul>
            </section>
        </div>

        <footer th:replace="~{fragments/footer.html :: footer}"></footer>
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
            crossorigin="anonymous"></script>
        <script th:src="@{/js/formLang.js}"></script>
        <script th:src="@{/js/preventFormResubmission.js}"></script>
    </body>
</html>
