<!DOCTYPE html>
<html th:lang="#{lang.code}" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="keywords" th:content="#{binder.keywords}">
	    <meta name="description" th:content="#{binder.description}">
	    <meta name="author" th:content="#{meta.author}">
        <title th:text="#{binder.ka} + ' - ' + #{webname}"></title>

        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
            crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/general.css}">
        <link rel="stylesheet" th:href="@{/css/formation.css}">
    </head>
    <body>
        <header th:replace="~{fragments/header.html :: header}"></header>

        <div th:replace="~{fragments/form-lang.html :: form-lang(url = ${url})}"></div>

        <div class="mainContainer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a 
                            th:href="@{/}"
                            th:text="#{breadcrumb.home}">
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a 
                            th:href="@{/player-binder}"
                            th:text="#{index.list.binder}">
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"
                        th:text="#{binder.ka}">
                    </li>
                </ol>
            </nav>
            <h1 th:text="#{binder.ka}"></h1>
            <div class="toc">
                <span class="toc-title" th:text="#{toc.title}"></span>
                <ul class="toc-list">
                    <li>
                        <a href="#ka">1. <span th:text="#{binder.ka.ka}"></span></a>
                    </li>
                    <li>
                        <a href="#ki">2. <span th:text="#{binder.ka.ki}"></span></a>
                    </li>
                    <li>
                        <a href="#ku">3. <span th:text="#{binder.ka.ku}"></span></a>
                    </li>
                    <li>
                        <a href="#ke">4. <span th:text="#{binder.ka.ke}"></span></a>
                    </li>
                    <li>
                        <a href="#ko">5. <span th:text="#{binder.ka.ko}"></span></a>
                    </li>
                    <li>
                        <a href="#source">6. <span th:text="#{source}"></span></a>
                    </li>
                </ul>
            </div>

            <section>
                <h2 id="ka" th:text="#{binder.ka.ka}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-container(
                        players = ${ka}
                    )}">
                </div>
            </section>

            <section>
                <h2 id="ki" th:text="#{binder.ka.ki}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-container(
                        players = ${ki}
                    )}">
                </div>
            </section>

            <section>
                <h2 id="ku" th:text="#{binder.ka.ku}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-container(
                        players = ${ku}
                    )}">
                </div>
            </section>

            <section>
                <h2 id="ke" th:text="#{binder.ka.ke}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-container(
                        players = ${ke}
                    )}">
                </div>
            </section>

            <section>
                <h2 id="ko" th:text="#{binder.ka.ko}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-container(
                        players = ${ko}
                    )}">
                </div>
            </section>

            <nav>
                <ul class="pagination binder-pre-next">
                    <li class="page-item">
                        <a th:href="@{/player-binder/a}" class="page-link"
                            th:text="'&#8249; ' + #{binder.a}"></a>
                    </li>
                    <li class="page-item">
                        <a th:href="@{/player-binder/sa}" class="page-link"
                            th:text="#{binder.sa} + ' &#8250;'"></a>
                    </li>
                </ul>
            </nav>

            <section>
                <h2 id="source" th:text="#{source}"></h2>
                <ul> 
                    <li>
                        <a th:text="#{source.atwiki.text}"
                            th:href="#{source.atwiki.link}"></a>
                    </li>
                    <li>
                        <a th:text="#{source.fandom.text}"
                            th:href="#{source.fandom.link}"></a>
                    </li>
                </ul>
            </section>
        </div>

        <footer th:replace="~{fragments/footer.html :: footer}"></footer>
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
            crossorigin="anonymous"></script>
        <script th:src="@{/js/formLang.js}"></script>
        <script th:src="@{/js/preventFormResubmission.js}"></script>
    </body>
</html>
