<!DOCTYPE html>
<html th:lang="#{lang.code}" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="keywords" th:content="#{binder.keywords}">
	    <meta name="description" th:content="#{binder.description}">
	    <meta name="author" th:content="#{meta.author}">
        <title th:text="#{binder.ma} + ' - ' + #{webname}"></title>

        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
            crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/general.css}">
        <link rel="stylesheet" th:href="@{/css/formation.css}">
    </head>
    <body>
        <header th:replace="~{fragments/header.html :: header}"></header>

        <div th:replace="~{fragments/form-lang.html :: form-lang(url = ${url})}"></div>

        <div class="mainContainer">
            <h1 th:text="#{binder.ma}"></h1>
            <div class="toc">
                <span class="toc-title" th:text="#{toc.title}"></span>
                <ul class="toc-list">
                    <li>
                        <a href="#ma">1. <span th:text="#{binder.ma.ma}"></span></a>
                    </li>
                    <li>
                        <a href="#mi">2. <span th:text="#{binder.ma.mi}"></span></a>
                    </li>
                    <li>
                        <a href="#mu">3. <span th:text="#{binder.ma.mu}"></span></a>
                    </li>
                    <li>
                        <a href="#me">4. <span th:text="#{binder.ma.me}"></span></a>
                    </li>
                    <li>
                        <a href="#mo">5. <span th:text="#{binder.ma.mo}"></span></a>
                    </li>
                    <li>
                        <a href="#source">6. <span th:text="#{source}"></span></a>
                    </li>
                </ul>
            </div>

            <section>
                <h2 id="ma" th:text="#{binder.ma.ma}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-container(
                        players = ${ma}
                    )}">
                </div>
            </section>

            <section>
                <h2 id="mi" th:text="#{binder.ma.mi}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-container(
                        players = ${mi}
                    )}">
                </div>
            </section>

            <section>
                <h2 id="mu" th:text="#{binder.ma.mu}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-container(
                        players = ${mu}
                    )}">
                </div>
            </section>

            <section>
                <h2 id="me" th:text="#{binder.ma.me}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-container(
                        players = ${me}
                    )}">
                </div>
            </section>

            <section>
                <h2 id="mo" th:text="#{binder.ma.mo}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-container(
                        players = ${mo}
                    )}">
                </div>
            </section>

            <nav>
                <ul class="pagination binder-pre-next">
                    <li class="page-item">
                        <a th:href="@{/player-binder/ha}" class="page-link"
                            th:text="'&#8249; ' + #{binder.ha}"></a>
                    </li>
                    <li class="page-item">
                        <a th:href="@{/player-binder/ya}" class="page-link"
                            th:text="#{binder.ya} + ' &#8250;'"></a>
                    </li>
                </ul>
            </nav>

            <section>
                <h2 id="source" th:text="#{source}"></h2>
                <ul> 
                    <li>
                        <a th:text="#{source.atwiki.text}"
                            th:href="#{source.atwiki.link}"></a>
                    </li>
                    <li>
                        <a th:text="#{source.fandom.text}"
                            th:href="#{source.fandom.link}"></a>
                    </li>
                </ul>
            </section>
        </div>

        <footer th:replace="~{fragments/footer.html :: footer}"></footer>
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
            crossorigin="anonymous"></script>
        <script th:src="@{/js/formLang.js}"></script>
        <script th:src="@{/js/preventFormResubmission.js}"></script>
    </body>
</html>
