<!DOCTYPE html>
<html th:lang="#{lang.code}" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="keywords" th:content="#{binder.keywords}">
	    <meta name="description" th:content="#{binder.description}">
	    <meta name="author" th:content="#{meta.author}">
        <title th:text="#{binder.ta} + ' - ' + #{webname}"></title>

        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
            crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/general.css}">
        <link rel="stylesheet" th:href="@{/css/formation.css}">
    </head>
    <body>
        <header th:replace="~{fragments/header.html :: header}"></header>

        <div th:replace="~{fragments/form-lang.html :: form-lang(url = ${url})}"></div>

        <div class="mainContainer">
            <h1 th:text="#{binder.ta}"></h1>
            <div class="toc">
                <span class="toc-title" th:text="#{toc.title}"></span>
                <ul class="toc-list">
                    <li>
                        <a href="#ta">1. <span th:text="#{binder.ta.ta}"></span></a>
                    </li>
                    <li>
                        <a href="#chi">2. <span th:text="#{binder.ta.chi}"></span></a>
                    </li>
                    <li>
                        <a href="#tsu">3. <span th:text="#{binder.ta.tsu}"></span></a>
                    </li>
                    <li>
                        <a href="#te">4. <span th:text="#{binder.ta.te}"></span></a>
                    </li>
                    <li>
                        <a href="#to">5. <span th:text="#{binder.ta.to}"></span></a>
                    </li>
                    <li>
                        <a href="#source">6. <span th:text="#{source}"></span></a>
                    </li>
                </ul>
            </div>

            <section>
                <h2 id="ta" th:text="#{binder.ta.ta}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-container(
                        players = ${ta}
                    )}">
                </div>
            </section>

            <section>
                <h2 id="chi" th:text="#{binder.ta.chi}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-container(
                        players = ${chi}
                    )}">
                </div>
            </section>

            <section>
                <h2 id="tsu" th:text="#{binder.ta.tsu}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-container(
                        players = ${tsu}
                    )}">
                </div>
            </section>

            <section>
                <h2 id="te" th:text="#{binder.ta.te}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-container(
                        players = ${te}
                    )}">
                </div>
            </section>

            <section>
                <h2 id="to" th:text="#{binder.ta.to}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-container(
                        players = ${to}
                    )}">
                </div>
            </section>

            <nav>
                <ul class="pagination binder-pre-next">
                    <li class="page-item">
                        <a th:href="@{/player-binder/sa}" class="page-link"
                            th:text="'&#8249; ' + #{binder.sa}"></a>
                    </li>
                    <li class="page-item">
                        <a th:href="@{/player-binder/na}" class="page-link"
                            th:text="#{binder.na} + ' &#8250;'"></a>
                    </li>
                </ul>
            </nav>

            <section>
                <h2 id="source" th:text="#{source}"></h2>
                <ul> 
                    <li>
                        <a th:text="#{source.atwiki.text}"
                            th:href="#{source.atwiki.link}"></a>
                    </li>
                    <li>
                        <a th:text="#{source.fandom.text}"
                            th:href="#{source.fandom.link}"></a>
                    </li>
                </ul>
            </section>
        </div>

        <footer th:replace="~{fragments/footer.html :: footer}"></footer>
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
            crossorigin="anonymous"></script>
        <script th:src="@{/js/formLang.js}"></script>
        <script th:src="@{/js/preventFormResubmission.js}"></script>
    </body>
</html>
