<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <!-- 
        include formation name and scheme ex three top (4 3 3)

        scheme
            field
            bench

    -->
    <div th:fragment="formation-player(
            player, 
            positiClass, 
            verticalClass)"
        class = "formation-player"
        th:classappend="${positiClass} + ' ' + ${verticalClass}">
        <div class = "formation-player-attri"
            th:classappend="${player.getAttri().getCssClass()}">
            <span th:replace="~{fragments/game-icon.html :: 
                attri-icon(
                    attri = ${player.getAttri()}
                )}">
            </span>
        </div>
        <div class = "formation-player-name">
            <a th:replace="~{fragments/player-fragments.html :: 
                player-name(player = ${player})}">                 
            </a>
        </div>
    </div>

    <div th:fragment="formation-bench(playerIsPartOfTeam)"
        th:if="${playerIsPartOfTeam.size() > 11}"
        class="formation-bench">
        <div class="formation-row">
            <th:block th:each="ppt, iStat : ${playerIsPartOfTeam}">
                <th:block th:if="${iStat.index} > 10">
                    <div th:replace="~{fragments/formation-fragments.html :: 
                        formation-player(
                            player = ${ppt.getPlayer()},
                            positiClass = '',
                            verticalClass = ''
                        )}">
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>

    <div th:fragment="formation-scheme(
            formation,
            originalFormation,
            playerIsPartOfTeam, 
            positiOrderByPlace)"
        class="formation-scheme">
        <div class="formation-title">
            <span th:text="
                ${formation.getNameByLang()} 
                + ' (' 
                + ${formation.getFormationScheme().getFormationSchemeName()} 
                + ')'">
            </span>
        </div>

        <th:block th:switch="${originalFormation.getItemId().intValue()}">
            <th:block th:case="737">
                <div th:replace="~{fragments/formation-fragments.html :: 
                    formation-field-basic(
                        playerIsPartOfTeam = ${playerIsPartOfTeam},
                        positiOrderByPlace = ${positiOrderByPlace}
                    )}">
                </div>

            </th:block>
        </th:block>

        <div th:replace="~{fragments/formation-fragments.html :: 
            formation-bench(
                playerIsPartOfTeam = ${playerIsPartOfTeam}
            )}">
        </div>
    </div>

    <div th:fragment="formation-field-basic(
            playerIsPartOfTeam, 
            positiOrderByPlace)"
        class="formation-field">
        <div class="formation-row 1">
            <div th:replace="~{fragments/formation-fragments.html :: 
                formation-player(
                    player = ${playerIsPartOfTeam.get(10).getPlayer()},
                    positiClass = ${positiOrderByPlace[10].getCssClass()},
                    verticalClass = ''
                )}">
            </div>
            <div th:replace="~{fragments/formation-fragments.html :: 
                formation-player(
                    player = ${playerIsPartOfTeam.get(9).getPlayer()},
                    positiClass = ${positiOrderByPlace[9].getCssClass()},
                    verticalClass = ''
                )}">
            </div>
        </div>
        <div class="formation-row 2">
            <div th:replace="~{fragments/formation-fragments.html :: 
                formation-player(
                    player = ${playerIsPartOfTeam.get(5).getPlayer()},
                    positiClass = ${positiOrderByPlace[5].getCssClass()},
                    verticalClass = 'up'
                )}">
            </div>
            <div th:replace="~{fragments/formation-fragments.html :: 
                formation-player(
                    player = ${playerIsPartOfTeam.get(6).getPlayer()},
                    positiClass = ${positiOrderByPlace[6].getCssClass()},
                    verticalClass = ''
                )}">
            </div>
            <div th:replace="~{fragments/formation-fragments.html :: 
                formation-player(
                    player = ${playerIsPartOfTeam.get(8).getPlayer()},
                    positiClass = ${positiOrderByPlace[8].getCssClass()},
                    verticalClass = ''
                )}">
            </div>
            <div th:replace="~{fragments/formation-fragments.html :: 
                formation-player(
                    player = ${playerIsPartOfTeam.get(7).getPlayer()},
                    positiClass = ${positiOrderByPlace[7].getCssClass()},
                    verticalClass = 'up'
                )}">
            </div>
        </div>
        <div class="formation-row 3">
            <div th:replace="~{fragments/formation-fragments.html :: 
                formation-player(
                    player = ${playerIsPartOfTeam.get(1).getPlayer()},
                    positiClass = ${positiOrderByPlace[1].getCssClass()},
                    verticalClass = 'up'
                )}">
            </div>
            <div th:replace="~{fragments/formation-fragments.html :: 
                formation-player(
                    player = ${playerIsPartOfTeam.get(2).getPlayer()},
                    positiClass = ${positiOrderByPlace[2].getCssClass()},
                    verticalClass = ''
                )}">
            </div>
            <div th:replace="~{fragments/formation-fragments.html :: 
                formation-player(
                    player = ${playerIsPartOfTeam.get(3).getPlayer()},
                    positiClass = ${positiOrderByPlace[3].getCssClass()},
                    verticalClass = ''
                )}">
            </div>
            <div th:replace="~{fragments/formation-fragments.html :: 
                formation-player(
                    player = ${playerIsPartOfTeam.get(4).getPlayer()},
                    positiClass = ${positiOrderByPlace[4].getCssClass()},
                    verticalClass = 'up'
                )}">
            </div>
        </div>
        <div class="formation-row 4">
            <div th:replace="~{fragments/formation-fragments.html :: 
                formation-player(
                    player = ${playerIsPartOfTeam.get(0).getPlayer()},
                    positiClass = ${positiOrderByPlace[0].getCssClass()},
                    verticalClass = ''
                )}">
            </div>
        </div>
    </div>
</body>
</html>
