<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <span th:fragment="attri-icon(attri)"
        th:text="${attri.getAttriNameJa()}"
        th:title="${attri.getNameByLang()}"
        class="attri-icon"
        th:classappend="${attri.getCssClass()}">
    </span>

    <span th:fragment="hissatsu-type-icon(hissatsuType)" 
        th:text="${hissatsuType.getNameByLang()}"
        class="hissatsu-type-icon"
        th:classappend="${hissatsuType.getCssClass()}">
    </span>

    <span th:fragment="gender-icon(gender)" 
        th:text="${gender.getGenderNameJa()}"
        th:title="${gender.getNameByLang()}"
        class="gender-icon"
        th:classappend="${gender.getCssClass()}">
    </span>

    <span th:fragment="positi-icon(positi)" 
        th:text="${positi.getNameByLang()}"
        class="positi-icon"
        th:classappend="${positi.getCssClass()}">
    </span>

    <sup th:fragment="sup-shoot-icon(shootSpecialProperty)"
        th:unless="${shootSpecialProperty.isEmpty()}"
        th:text="${shootSpecialProperty.get(0).getOneLetterByLang()}"
        class="sup-icon"
        th:classappend="${shootSpecialProperty.get(0).getCssClass()}">
    </sup>

    <sup th:fragment="sup-block-icon(block)"
        th:if="${block.isHissatsuBlockIsBlock()}"
        th:text="${block.getIsBlockLetterByLang()}"
        class="sup-icon"
        th:classappend="block">
    </sup>

    <span th:fragment="tactic-icon(tactic)" 
        th:text="${tactic.getTacticType().getNameByLang()}"
        class="tactic-icon"
        th:classappend="${tactic.getTacticType().getCssClass()}">
    </span>
</body>
</html>
