<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="table-responsive"
        th:fragment="hissatsu-growth-additional-power(growthTypeAll, growthRateAll)">
        <table class="table table-bordered table-sm table-growth">
            <caption th:text="#{hissatsu.additionalPower}"></caption>
            <thead>
                <tr>
                    <th th:text="#{general.type}" class="text-capitalize" scope="col"></th>
                    <th th:each="growthRate : ${growthRateAll}" 
                        th:text="${growthRate.getNameByLang()}" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="growthType : ${growthTypeAll}">
                    <th th:text="${growthType.getSymbolByLang()}" scope="row"></th>
                    <td th:each="achieve : ${growthType.getGrowthTypeAchieveGrowthRate()}"
                        th:text="${achieve.getAdditionalPower()}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive"
        th:fragment="hissatsu-growth-number-of-uses(growthTypeAll, growthRateAll)">
        <table class="table table-bordered table-sm table-growth">
            <caption th:text="#{hissatsu.numberOfUses}"></caption>
            <thead>
                <tr>
                    <th th:text="#{general.type}" class="text-capitalize" scope="col"></th>
                    <th th:each="growthRate : ${growthRateAll}" 
                        th:text="${growthRate.getNameByLang()}" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="growthType : ${growthTypeAll}">
                    <th th:text="${growthType.getSymbolByLang()}" scope="row"></th>
                    <td th:each="achieve : ${growthType.getGrowthTypeAchieveGrowthRate()}"
                        th:text="${achieve.getNumberOfUses()}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:fragment="hissatsu-shoot(shoots)" class="table-responsive">
        <table class="table table-bordered table-sm table-hissatsu">
            <tr>
                <th colspan=2 th:text="#{hissatsu.type}"></th>
                <th th:text="#{hissatsu.name}"></th>
                <th th:text="#{hissatsu.tp}"></th>
                <th th:text="#{hissatsu.maxPower}"></th>
                <th th:text="#{hissatsu.characteristic}"></th>
                <th th:text="#{hissatsu.growthType}"></th>
                <th th:text="#{hissatsu.growthRate}"></th>
                <th th:text="#{hissatsu.basePower}"></th>
                <th th:text="#{hissatsu.additionalPower}"></th>
            </tr>
            <tr th:each="shoot : ${shoots}">
                <td class="td-icon">
                    <span th:replace="~{fragments/game-icon.html :: 
                        attri-icon(
                            attri = ${shoot.getAttri().get(0)}
                        )}">
                    </span>
                </td>
                <td class="td-icon">
                    <span th:replace="~{fragments/game-icon.html :: 
                        hissatsu-type-icon(
                            hissatsuType = ${shoot.getHissatsuType()}
                        )}">
                    </span>
                </td>
                <td>
                    <a th:text="${shoot.getNameByLang()}"
                        th:href="@{/hissatsu/{id}(id=${shoot.getItemId()})}"></a>
                </td>
                <td th:text="${shoot.getHissatsuShootTp()}"></td>
                <td th:text="${shoot.getHissatsuShootMaxPower()}"></td>

                <td th:if="${shoot.getShootSpecialProperty().isEmpty()}"></td>
                <td th:unless="${shoot.getShootSpecialProperty().isEmpty()}" 
                    th:text="${shoot.getShootSpecialProperty().get(0).getNameByLang()}">
                </td>

                <td th:text="${shoot.getHissatsuEvolves().get(0).getGrowthType().getSymbolByLang()}"></td>
                <td th:text="${shoot.getHissatsuEvolves().get(0).getGrowthRate().getNameByLang()}"></td>
                <td th:text="${shoot.getHissatsuShootPower()}"></td>
                <td th:text="${shoot.getHissatsuShootAdditionalPower()}"></td>
            </tr>
        </table>
    </div>

    <div th:fragment="hissatsu-dribble(dribbles)" class="table-responsive">
        <table class="table table-bordered table-sm table-hissatsu">
            <tr>
                <th colspan=2 th:text="#{hissatsu.type}"></th>
                <th th:text="#{hissatsu.name}"></th>
                <th th:text="#{hissatsu.tp}"></th>
                <th th:text="#{hissatsu.maxPower}"></th>
                <th th:text="#{hissatsu.foul}"></th>
                <th th:text="#{hissatsu.growthType}"></th>
                <th th:text="#{hissatsu.growthRate}"></th>
                <th th:text="#{hissatsu.basePower}"></th>
                <th th:text="#{hissatsu.additionalPower}"></th>
            </tr>
            <tr th:each="dribble : ${dribbles}">
                <td class="td-icon">
                    <span th:replace="~{fragments/game-icon.html :: 
                        attri-icon(
                            attri = ${dribble.getAttri().get(0)}
                        )}">
                    </span>
                </td>
                <td class="td-icon">
                    <span th:replace="~{fragments/game-icon.html :: 
                        hissatsu-type-icon(
                            hissatsuType = ${dribble.getHissatsuType()}
                        )}">
                    </span>
                </td>
                <td>
                    <a th:text="${dribble.getNameByLang()}"
                        th:href="@{/hissatsu/{id}(id=${dribble.getItemId()})}"></a>
                </td>
                <td th:text="${dribble.getHissatsuDribbleTp()}"></td>
                <td th:text="${dribble.getHissatsuDribbleMaxPower()}"></td>
                <td th:text="${dribble.getHissatsuDribbleFoul()}"></td>
                <td th:text="${dribble.getHissatsuEvolves().get(0).getGrowthType().getSymbolByLang()}"></td>
                <td th:text="${dribble.getHissatsuEvolves().get(0).getGrowthRate().getNameByLang()}"></td>
                <td th:text="${dribble.getHissatsuDribblePower()}"></td>
                <td th:text="${dribble.getHissatsuDribbleAdditionalPower()}"></td>
            </tr>
        </table>
    </div>

    <div th:fragment="hissatsu-block(blocks)" class="table-responsive">
        <table class="table table-bordered table-sm table-hissatsu">
            <tr>
                <th colspan=2 th:text="#{hissatsu.type}"></th>
                <th th:text="#{hissatsu.name}"></th>
                <th th:text="#{hissatsu.tp}"></th>
                <th th:text="#{hissatsu.maxPower}"></th>
                <th th:text="#{hissatsu.foul}"></th>
                <th th:text="#{hissatsu.isBlock}"></th>
                <th th:text="#{hissatsu.growthType}"></th>
                <th th:text="#{hissatsu.growthRate}"></th>
                <th th:text="#{hissatsu.basePower}"></th>
                <th th:text="#{hissatsu.additionalPower}"></th>
            </tr>
            <tr th:each="block : ${blocks}">
                <td class="td-icon">
                    <span th:replace="~{fragments/game-icon.html :: 
                        attri-icon(
                            attri = ${block.getAttri().get(0)}
                        )}">
                    </span>
                </td>
                <td class="td-icon">
                    <span th:replace="~{fragments/game-icon.html :: 
                        hissatsu-type-icon(
                            hissatsuType = ${block.getHissatsuType()}
                        )}">
                    </span>
                </td>
                <td>
                    <a th:text="${block.getNameByLang()}"
                        th:href="@{/hissatsu/{id}(id=${block.getItemId()})}"></a>
                </td>
                <td th:text="${block.getHissatsuBlockTp()}"></td>
                <td th:text="${block.getHissatsuBlockMaxPower()}"></td>
                <td th:text="${block.getHissatsuBlockFoul()}"></td>

                <td th:if="${block.isHissatsuBlockIsBlock()}" th:text="#{hissatsu.isBlock.yes}"></td>
                <td th:unless="${block.isHissatsuBlockIsBlock()}"></td>

                <td th:text="${block.getHissatsuEvolves().get(0).getGrowthType().getSymbolByLang()}"></td>
                <td th:text="${block.getHissatsuEvolves().get(0).getGrowthRate().getNameByLang()}"></td>
                <td th:text="${block.getHissatsuBlockPower()}"></td>
                <td th:text="${block.getHissatsuBlockAdditionalPower()}"></td>
            </tr>
        </table>
    </div>

    <div th:fragment="hissatsu-catch(catches)" class="table-responsive">
        <table class="table table-bordered table-sm table-hissatsu">
            <tr>
                <th colspan=2 th:text="#{hissatsu.type}"></th>
                <th th:text="#{hissatsu.name}"></th>
                <th th:text="#{hissatsu.tp}"></th>
                <th th:text="#{hissatsu.maxPower}"></th>
                <th th:text="#{hissatsu.catchType}"></th>
                <th th:text="#{hissatsu.growthType}"></th>
                <th th:text="#{hissatsu.growthRate}"></th>
                <th th:text="#{hissatsu.basePower}"></th>
                <th th:text="#{hissatsu.additionalPower}"></th>
            </tr>
            <tr th:each="catch : ${catches}">
                <td class="td-icon">
                    <span th:replace="~{fragments/game-icon.html :: 
                        attri-icon(
                            attri = ${catch.getAttri().get(0)}
                        )}">
                    </span>
                </td>
                <td class="td-icon">
                    <span th:replace="~{fragments/game-icon.html :: 
                        hissatsu-type-icon(
                            hissatsuType = ${catch.getHissatsuType()}
                        )}">
                    </span>
                </td>
                <td>
                    <a th:text="${catch.getNameByLang()}"
                        th:href="@{/hissatsu/{id}(id=${catch.getItemId()})}"></a>
                </td>
                <td th:text="${catch.getHissatsuCatchTp()}"></td>
                <td th:text="${catch.getHissatsuCatchMaxPower()}"></td>
                <td th:text="${catch.getCatchType().getNameByLang()}"></td>
                <td th:text="${catch.getHissatsuEvolves().get(0).getGrowthType().getSymbolByLang()}"></td>
                <td th:text="${catch.getHissatsuEvolves().get(0).getGrowthRate().getNameByLang()}"></td>
                <td th:text="${catch.getHissatsuCatchPower()}"></td>
                <td th:text="${catch.getHissatsuCatchAdditionalPower()}"></td>
            </tr>
        </table>
    </div>

    <div th:fragment="hissatsu-skill(skills)" class="table-responsive">
        <table class="table table-bordered table-lg table-hissatsu">
            <tr>
                <th th:text="#{hissatsu.type}"></th>
                <th th:text="#{hissatsu.name}"></th>
                <th th:text="#{hissatsu.effect}"></th>
            </tr>
            <tr th:each="skill : ${skills}">
                <td class="td-icon">
                    <span th:replace="~{fragments/game-icon.html :: 
                        hissatsu-type-icon(
                            hissatsuType = ${skill.getHissatsuType()}
                        )}">
                    </span>
                </td>

                <td>
                    <a th:text="${skill.getNameByLang()}"
                        th:href="@{/hissatsu/{id}(id=${skill.getItemId()})}"></a>
                </td>
                <td th:text="${skill.getEffectByLang()}"></td>
            </tr>
        </table>
    </div>

    <div th:fragment="hissatsu-single(itemHissatsu, attri, hissatsuType, 
        hissatsuTypeId, name, tp, basePower, maxPower, participants, foul, 
        isBlock, shootSpecialPropertyName, catchTypeName)" 
        class="table-responsive">
        <table class="table table-bordered table-sm table-hissatsu-single" 
            style="max-width: 600px;">
            <tr class="black-th">
                <th colspan=2 th:text="#{hissatsu.type}"></th>
                <th th:text="#{hissatsu.name}"></th>
                <th th:text="#{hissatsu.tp}"></th>
                <th th:text="#{hissatsu.maxPower}"></th>
                <th th:text="#{hissatsu.basePower}"></th>
                <th th:text="#{hissatsu.participants}"></th>

                <th th:if="${hissatsuTypeId == 1}" 
                    th:text="#{hissatsu.characteristic}"></th>

                <th th:if="${hissatsuTypeId == 2}" 
                    th:text="#{hissatsu.foul}"></th>
                <th th:if="${hissatsuTypeId == 3}" 
                    th:text="#{hissatsu.foul}"></th>

                <th th:if="${hissatsuTypeId == 3}" 
                    th:text="#{hissatsu.isBlock}"></th>

                <th th:if="${hissatsuTypeId == 4}" 
                    th:text="#{hissatsu.catchType}"></th>
 
            </tr>
            <tr>
                <td class="td-icon">
                    <span th:replace="~{fragments/game-icon.html :: 
                        attri-icon(attri = ${attri})}">
                    </span>
                </td>
                <td class="td-icon">
                    <span th:replace="~{fragments/game-icon.html :: 
                        hissatsu-type-icon(
                            hissatsuType = ${hissatsuType}
                        )}">
                    </span>
                </td>
                <td th:text="${name}"></td>
                <td th:text="${tp}"></td>
                <td th:text="${maxPower}"></td>
                <td th:text="${basePower}"></td>
                <td th:text="${participants}"></td>

                <td th:if="${hissatsuTypeId == 1 and shootSpecialPropertyName != null}" 
                    th:text="${shootSpecialPropertyName}"></td>
                <td th:if="${hissatsuTypeId == 1 and shootSpecialPropertyName == null}" 
                    th:text="#{general.none}"></td>

                <td th:if="${hissatsuTypeId == 2}" 
                    th:text="${foul}"></td>
                <td th:if="${hissatsuTypeId == 3}" 
                    th:text="${foul}"></td>

                <td th:if="${hissatsuTypeId == 3 and isBlock}" 
                    th:text="#{hissatsu.isBlock.yes}"></td>
                <td th:if="${hissatsuTypeId == 3 and !isBlock}" 
                    th:text="#{hissatsu.isBlock.no}"></td>

                <td th:if="${hissatsuTypeId == 4}" 
                    th:text="${catchTypeName}"></td>
            </tr>
        </table>
    </div>

    <div class="table-responsive"
        th:fragment="hissatsu-growth-single(growthTypeName, growthRateName,
        additionalPower, numberOfUses)">
        <table class="table table-bordered table-sm table-growth">
            <tr>
                <th th:text="#{hissatsu.growthType}"></th>
                <th th:text="#{hissatsu.growthRate}"></th>
                <th th:text="#{hissatsu.additionalPower}"></th>
                <th th:text="#{hissatsu.numberOfUses}"></th>
            </tr>
            <tr>
                <td th:text="${growthTypeName}"></td>
                <td th:text="${growthRateName}"></td>
                <td th:text="${additionalPower}"></td>
                <td th:text="${numberOfUses}"></td>
            </tr>
        </table>
    </div>

    <div th:fragment="hissatsu-restric(restricGender, restricBodyType,
        restricPositi, restricAttriUser, restricAttriHelper, restricHissatsu)">
        <ul>
            <li th:unless="${restricGender.isEmpty()}">
                <span th:text="#{hissatsu.restriction.gender}"></span>
                <ul>
                    <li th:each="r : ${restricGender}">
                        <span th:replace="~{fragments/game-icon.html :: 
                            gender-icon(gender = ${r})}">
                        </span>
                    </li>
                </ul>
            </li>
            <li th:unless="${restricBodyType.isEmpty()}">
                <span th:text="#{hissatsu.restriction.bodyType}"></span>
                <ul>
                    <li th:each="r : ${restricBodyType}"
                        th:text="${r.getNameByLang()}"></li>
                </ul>
            </li>
            <li th:unless="${restricPositi.isEmpty()}">
                <span th:text="#{hissatsu.restriction.positi}"></span>
                <ul>
                    <li th:each="r : ${restricPositi}">
                        <span th:replace="~{fragments/game-icon.html :: 
                            positi-icon(positi = ${r})}">
                        </span>
                    </li>
                </ul>
            </li>
            <li th:unless="${restricAttriUser.isEmpty()}">
                <span th:text="#{hissatsu.restriction.attriUser}"></span>
                <ul>
                    <li th:each="r : ${restricAttriUser}">
                        <span th:replace="~{fragments/game-icon.html :: 
                            attri-icon(attri = ${r})}">
                        </span>
                    </li>
                </ul>
            </li>
            <li th:unless="${restricAttriHelper.isEmpty()}">
                <span th:text="#{hissatsu.restriction.attriHelper}"></span>
                <ul>
                    <li th:each="r : ${restricAttriHelper}">
                        <span th:replace="~{fragments/game-icon.html :: 
                            attri-icon(attri = ${r})}">
                        </span>
                    </li>
                </ul>
            </li>
            <li th:unless="${restricHissatsu.isEmpty()}">
                <span th:text="#{hissatsu.restriction.hissatsu}"></span>
                <ul>
                    <li th:each="r : ${restricHissatsu}">
                        <a th:text="${r.getNameByLang()}"
                            th:href="@{/hissatsu/{id}(id=${r.getItemId()})}"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="table-responsive" 
        th:fragment="hissatsu-player(playerLearnsHissatsu, shootArray, 
        dribbleArray, blockArray, catchArray, skillArray)" >
        <table class="table table-bordered table-sm hissatsu-player" style="max-width:400px;">
            <thead>
                <tr class="black-th">
                    <th colspan=2 th:text="#{hissatsu.type}"></th>
                    <th th:text="#{hissatsu.name}"></th>
                    <th th:text="#{hissatsu.tp}"></th>
                    <th th:text="#{hissatsu.maxPower}"></th>
                    <th th:text="#{player.learnLv}"></th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="plh, iStat : ${playerLearnsHissatsu}" 
                    th:with="auxHissatsu = ${plh.getItemHissatsu()}">
                    <th:block th:switch="${auxHissatsu.getHissatsuType().getHissatsuTypeId().intValue()}">
                        <tr th:case="1" 
                            th:with="shoot = ${shootArray[iStat.index]}">
                            <td class="td-icon">
                                <span th:replace="~{fragments/game-icon.html :: 
                                    attri-icon(
                                        attri = ${shoot.getAttri().get(0)}
                                    )}">
                                </span>
                            </td>
                            <td class="td-icon">
                                <span th:replace="~{fragments/game-icon.html :: 
                                    hissatsu-type-icon(
                                        hissatsuType = ${shoot.getHissatsuType()}
                                    )}">
                                </span>
                            </td>
                            <td>
                                <a th:href="@{/hissatsu/{id}(id=${shoot.getItemId()})}">
                                    <span th:text="${shoot.getNameByLang()}"></span>
                                </a>
                                <sup th:replace="~{fragments/game-icon.html :: 
                                    sup-shoot-icon(
                                        shootSpecialProperty = ${shoot.getShootSpecialProperty()}
                                    )}">
                                </sup>
                            </td>
                            <td th:text="${shoot.getHissatsuShootTp()}"></td>
                            <td th:text="${shoot.getHissatsuShootMaxPower()}"></td>
                            <td th:text="${plh.getLearnLv()}"></td>
                        </tr>
                        <tr th:case="2" 
                            th:with="dribble = ${dribbleArray[iStat.index]}">
                            <td class="td-icon">
                                <span th:replace="~{fragments/game-icon.html :: 
                                    attri-icon(
                                        attri = ${dribble.getAttri().get(0)}
                                    )}">
                                </span>
                            </td>
                            <td class="td-icon">
                                <span th:replace="~{fragments/game-icon.html :: 
                                    hissatsu-type-icon(
                                        hissatsuType = ${dribble.getHissatsuType()}
                                    )}">
                                </span>
                            </td>
                            <td>
                                <a th:href="@{/hissatsu/{id}(id=${dribble.getItemId()})}"
                                    th:text="${dribble.getNameByLang()}"></a>
                            </td>
                            <td th:text="${dribble.getHissatsuDribbleTp()}"></td>
                            <td th:text="${dribble.getHissatsuDribbleMaxPower()}"></td>
                            <td th:text="${plh.getLearnLv()}"></td>
                        </tr>
                        <tr th:case="3" 
                            th:with="block = ${blockArray[iStat.index]}">
                            <td class="td-icon">
                                <span th:replace="~{fragments/game-icon.html :: 
                                    attri-icon(
                                        attri = ${block.getAttri().get(0)}
                                    )}">
                                </span>
                            </td>
                            <td class="td-icon">
                                <span th:replace="~{fragments/game-icon.html :: 
                                    hissatsu-type-icon(
                                        hissatsuType = ${block.getHissatsuType()}
                                    )}">
                                </span>
                            </td>
                            <td>
                                <a th:href="@{/hissatsu/{id}(id=${block.getItemId()})}">
                                    <span th:text="${block.getNameByLang()}"></span>
                                </a>
                                <sup th:replace="~{fragments/game-icon.html :: 
                                    sup-block-icon(
                                        block = ${block}
                                    )}">
                                </sup>
                            </td>
                            <td th:text="${block.getHissatsuBlockTp()}"></td>
                            <td th:text="${block.getHissatsuBlockMaxPower()}"></td>
                            <td th:text="${plh.getLearnLv()}"></td>
                        </tr>
                        <tr th:case="4" 
                            th:with="catch = ${catchArray[iStat.index]}">
                            <td class="td-icon">
                                <span th:replace="~{fragments/game-icon.html :: 
                                    attri-icon(
                                        attri = ${catch.getAttri().get(0)}
                                    )}">
                                </span>
                            </td>
                            <td class="td-icon">
                                <span th:replace="~{fragments/game-icon.html :: 
                                    hissatsu-type-icon(
                                        hissatsuType = ${catch.getHissatsuType()}
                                    )}">
                                </span>
                            </td>
                            <td>
                                <a th:href="@{/hissatsu/{id}(id=${catch.getItemId()})}"
                                    th:text="${catch.getNameByLang()}"></a>
                            </td>
                            <td th:text="${catch.getHissatsuCatchTp()}"></td>
                            <td th:text="${catch.getHissatsuCatchMaxPower()}"></td>
                            <td th:text="${plh.getLearnLv()}"></td>
                        </tr>
                        <tr th:case="5" 
                            th:with="skill = ${skillArray[iStat.index]}">
                            <td class="td-icon" colspan="2">
                                <span th:replace="~{fragments/game-icon.html :: 
                                    hissatsu-type-icon(
                                        hissatsuType = ${skill.getHissatsuType()}
                                    )}">
                                </span>
                            </td>
                            <td colspan="3">
                                <a th:href="@{/hissatsu/{id}(id=${skill.getItemId()})}"
                                    th:text="${skill.getNameByLang()}"></a>
                            </td>
                            <td th:text="${plh.getLearnLv()}"></td>
                        </tr>
                    </th:block>
                </th:block>
            </tbody>
        </table>
    </div>
</body>
</html>
