<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <a th:fragment="item-link(item)"
        th:href="@{/item/{id}(id=${item.getItemId()})}"
        th:text="${item.getNameByLang()}">
    </a>

    <ul th:fragment="item-obtention(item)">
        <th:block th:unless="${item.getTournamentDropItem().isEmpty()}">
            <li>
                <span th:text="#{itemObtention.tournament}"></span>
                <ul>
                    <li th:each="tdi : ${item.getTournamentDropItem()}">
                        <a th:replace="~{fragments/tournament-fragments.html :: 
                            rank-link(
                                rank = ${tdi.getTournamentRank()}
                            )}">
                        </a>
                        <span th:text="'(' + ${tdi.getDropRate()} + '%)'">
                        </span>
                    </li>   
                </ul>
            </li>
        </th:block>
        <th:block th:unless="${item.getPracticeGameDropItem().isEmpty()}">
            <li>
                <span th:text="#{itemObtention.route}"></span>
                <ul>
                    <li th:each="pdi : ${item.getPracticeGameDropItem()}">
                        <a th:href="'/taisen-route/' + 
                                ${pdi.getPracticeGame().getRoutePath().getExtraBattleRoute().getExtraBattleRouteId()} + 
                                '#team' + 
                                ${pdi.getPracticeGame().getTeam().getTeamId()}"
                            th:text="${pdi.getPracticeGame().getTeam().getNameByLang()}">
                        </a>
                        <span th:text="'(' + ${pdi.getDropRate()} + '%)'">
                        </span>
                    </li>
                </ul>
            </li>
        </th:block>
        <th:block th:unless="${item.getPathN().isEmpty()}">
            <li>
                <span th:text="#{itemObtention.rewardN}"></span>
                <ul>
                    <li th:each="path : ${item.getPathN()}">
                        <a th:href="@{/taisen-route/{id}(id=${path.getExtraBattleRoute().getExtraBattleRouteId()})}"
                            th:text="${path.getExtraBattleRoute().getNameByLang()}">
                        </a>
                    </li>
                </ul>
            </li>
        </th:block>
        <th:block th:unless="${item.getPathS().isEmpty()}">
            <li>
                <span th:text="#{itemObtention.rewardS}"></span>
                <ul>
                    <li th:each="path : ${item.getPathS()}">
                        <a th:href="@{/taisen-route/{id}(id=${path.getExtraBattleRoute().getExtraBattleRouteId()})}"
                            th:text="${path.getExtraBattleRoute().getNameByLang()}">
                        </a>
                    </li>
                </ul>
            </li>
        </th:block>
        <th:block th:unless="${item.getStors().isEmpty()}">
            <li>
                <span th:text="#{itemObtention.stor}"></span>
                <ul>
                    <li th:each="stor : ${item.getStors()}">
                        <a th:replace="~{fragments/stor-fragments.html :: 
                            stor-link(
                                stor = ${stor}
                            )}">
                        </a>
                        <span th:text="'(' + ${item.getItemPriceBuy()} + ')'">
                        </span>
                    </li>
                </ul>
            </li>
        </th:block>


        <th:block th:unless="${item.getUtcSessionDrops().isEmpty()}">
            <li>
                <span th:text="#{itemObtention.utc}"></span>
                <ul>
                    <li th:each="usd : ${item.getUtcSessionDrops()}">
                        <a 
                            th:if="${usd.getUtcDropType().getUtcDropTypeId().intValue()} == 1"
                            th:href="'/underground/' + 
                                ${usd.getUtcSession().getUtcSessionId()} + '#chest'"
                            th:text="${usd.getUtcSession().getNameByLang()} +
                                ' - ' + ${usd.getUtcDropType().getNameByLang()}">
                        </a>
                        <a 
                            th:unless="${usd.getUtcDropType().getUtcDropTypeId().intValue()} == 1"
                            th:href="'/underground/' + 
                                ${usd.getUtcSession().getUtcSessionId()} + '#boss'"
                            th:text="${usd.getUtcSession().getNameByLang()} +
                                ' - ' + ${usd.getUtcDropType().getNameByLang()}">
                        </a>
                        <span th:text="'(' + ${usd.getDropRate()} + '%)'">
                        </span>
                    </li>
                </ul>
            </li>
        </th:block>
    </ul>

    <div th:fragment="equipment-table(equipments)" 
        class="table-responsive table-equipment">
        <table class="table table-bordered table-sm">
            <tr class="black-th">
                <th th:text="#{itemEquipment.item}"></th>
                <th th:text="#{itemEquipment.effect}"></th>
            </tr>
            <tr th:each="equipment : ${equipments}">
                <td>                    
                    <a th:replace="~{fragments/item-fragments.html :: 
                        item-link(
                            item = ${equipment}
                        )}">
                    </a>
                </td>
                <td th:if="${equipment.getEffect().isEmpty()}"
                    th:text="#{general.none}"></td>
                <td th:unless="${equipment.getEffect().isEmpty()}"
                    th:text="${equipment.getEffect()}"></td>
            </tr>
        </table>
    </div>

    <div th:fragment="recovery-table(recoveries)" 
        class="table-responsive table-recovery">
        <table class="table table-bordered table-sm table-max-content">
            <tr class="black-th">
                <th th:text="#{itemRecovery.item}"></th>
                <th th:text="#{itemRecovery.gp}"></th>
                <th th:text="#{itemRecovery.tp}"></th>
            </tr>
            <tr th:each="recovery : ${recoveries}">
                <td>                    
                    <a th:replace="~{fragments/item-fragments.html :: 
                        item-link(
                            item = ${recovery}
                        )}">
                    </a>
                </td>
                <!-- gp -->
                <th:block th:if="${recovery.getItemRecoveryGp()} == null">
                    <td th:text="'0'"></td>
                </th:block>
                <th:block th:unless="${recovery.getItemRecoveryGp()} == null">
                    <th:block th:if="${recovery.getItemRecoveryGp()} gt 1">
                        <td th:text="${recovery.getItemRecoveryGp()}"></td>
                    </th:block>
                    <th:block th:unless="${recovery.getItemRecoveryGp()} gt 1">
                        <td th:text="#{itemRecovery.all}"></td>
                    </th:block>
                </th:block>
                <!-- tp -->
                <th:block th:if="${recovery.getItemRecoveryTp()} == null">
                    <td th:text="'0'"></td>
                </th:block>
                <th:block th:unless="${recovery.getItemRecoveryTp()} == null">
                    <th:block th:if="${recovery.getItemRecoveryTp()} gt 1">
                        <td th:text="${recovery.getItemRecoveryTp()}"></td>
                    </th:block>
                    <th:block th:unless="${recovery.getItemRecoveryTp()} gt 1">
                        <td th:text="#{itemRecovery.all}"></td>
                    </th:block>
                </th:block>
            </tr>
        </table>
    </div>

    <div th:fragment="ultimate-table(notes)" 
        class="table-responsive table-ultimate">
        <table class="table table-bordered table-sm table-max-content">
            <tr class="black-th">
                <th th:text="#{itemUltimateNote.item}"></th>
                <th th:text="#{itemUltimateNote.element}"></th>
                <th th:text="#{itemUltimateNote.position}"></th>
                <th th:text="#{itemUltimateNote.amount}"></th>
            </tr>
            <th:block th:each="itemUltimateNote : ${notes}">
                <tr th:each="uif, iStat : ${itemUltimateNote.getUltimateNoteIncreasesFree()}">
                    <td th:if="${iStat.index} == 0" 
                        th:rowspan="${itemUltimateNote.getUltimateNoteIncreasesFree().size()}">                    
                        <a th:replace="~{fragments/item-fragments.html :: 
                            item-link(
                                item = ${itemUltimateNote}
                            )}">
                        </a>
                    </td>
                    <td class="td-icon">
                        <span th:replace="~{fragments/game-icon.html :: 
                            attri-icon(
                                attri = ${uif.getAttri()}
                            )}">
                        </span>
                    </td>
                    <td class="td-icon">
                        <span th:replace="~{fragments/game-icon.html :: 
                            positi-icon(
                                positi = ${uif.getPositi()}
                            )}">
                        </span>
                    </td>
                    <td th:text="'20'" style="text-align: center;"></td>
                </tr>
            </th:block>
        </table>
    </div>


</body>
</html>
