<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div th:fragment="lang-form(url)">
        <form id="langForm" nane="langForm" 
            th:action="${url}" method="post" 
            enctype="multipart/form-data">
            <div>
                <i class="bi bi-translate"></i>
                <select id="lang" nane="lang">
                    <option value="en" th:text="#{lang.en}"
                        th:selected="${#{lang.code} == 'en'}"></option>
                    <option value="ja" th:text="#{lang.ja}"
                        th:selected="${#{lang.code} == 'ja'}"></option>
                    <option value="es" th:text="#{lang.es}" 
                        th:selected="${#{lang.code} == 'es'}"></option>
                </select>
            </div>
        </form>
    </div>
</body>
</html>
