<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div th:fragment="lang-form(url)" class="langDiv">
        <form id="langForm" name="langForm" 
            action="#" method="post" 
            enctype="multipart/form-data">
            <div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img th:src="@{/img/translate.svg}" alt="translate">
                        </span>
                    </div>
                    <select id="lang" name="lang" class="form-select">
                        <option value="en" th:text="#{lang.english}"
                            th:selected="${currentLang == 'en'}"></option>
                        <option value="ja" th:text="#{lang.japanese}"
                            th:selected="${currentLang == 'ja'}"></option>
                        <option value="es" th:text="#{lang.spanish}" 
                            th:selected="${currentLang == 'es'}"></option>
                    </select>
                </div>
                <input type="submit" id="langSubmit" name="langSubmit" style="display: none;">
            </div>
        </form>
    </div>
</body>
</html>
