:root {
    --zone-fw-color: #581111;
    --zone-mf-color: #000f4a;
    --zone-df-color: #012c01;
    --zone-gk-color: #7a4100;
    --zone-bench-color: #1c1615;

    --formation-field-bg: #08140e;
    --formation-bench-bg: #002020;
}

.formation-scheme {
    background-color: inherit;
    overflow-x: auto;
    margin-bottom: 16px;
}

.formation-field {
    background-color: var(--formation-field-bg);
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    padding: 5px;
    padding-bottom: 30px;
}

.formation-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.formation-player {
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    box-shadow: 0px 0px 3px 0px #737373;
    width: 130px;
    overflow: hidden;
    gap: 5px;
    background-color: var(--zone-bench-color);
}
.formation-player-attri {
    padding: 1px;    
}
.formation-player-attri.wind {
    background-color: var(--attri-wind-color);
}
.formation-player-attri.fire {
    background-color: var(--attri-fire-color);
}
.formation-player-attri.wood {
    background-color: var(--attri-wood-color);
}
.formation-player-attri.earth {
    background-color: var(--attri-earth-color);
}


.formation-player-name {

}
.formation-player.fw {
    background-color: var(--zone-fw-color);
}
.formation-player.mf {
    background-color: var(--zone-mf-color);
}
.formation-player.df {
    background-color: var(--zone-df-color);
}
.formation-player.gk {
    background-color: var(--zone-gk-color);
}

.formation-bench {
    background-color: var(--formation-bench-bg);
    width: 700px;
    box-sizing: border-box;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.no-bench .formation-bench {
    display: none;
}

.formation-title {
    background-color: var(--formation-field-bg);
    width: 700px;
    box-sizing: border-box;
    padding-bottom: 2px;
}

.formation-title span {
    border: 1px solid white;
    background-color: black;
    display: block;
    width: fit-content;
    padding: 5px;
    font-weight: bold;
}

.formation-player.up {
    position: relative;
    top: -15px;
}

.formation-player.down {
    position: relative;
    top: 15px;
}

/*kakuyoku*/
.formation-field.kakuyoku .formation-row.row1,
.formation-field.kakuyoku .formation-row.row2 {
    justify-content: space-between;
}
.formation-field.kakuyoku .formation-row.row3,
.formation-field.kakuyoku .formation-row.row4 {
    justify-content: space-around;
}
/*mukata*/
.formation-field.mukata .formation-row.row1,
.formation-field.mukata .formation-row.row3 {
    justify-content: space-between;
}
.formation-field.mukata .formation-row.row2 {
    gap: 50px;
}
/*phoenix*/
.formation-field.phoenix .formation-row.row1 {
    justify-content: space-between;
}
.formation-field.phoenix .formation-row.row3 {
    justify-content: space-around;
}
/*butterfly*/
.formation-field.butterfly .formation-row.row1,
.formation-field.butterfly .formation-row.row4 {
    justify-content: space-between;
}
.formation-field.butterfly .formation-row.row2 {
    justify-content: space-around;
}
/*heaven*/
.formation-field.heaven .formation-row.row2 {
    justify-content: space-evenly;
}
/*dot*/
.formation-field.dot .formation-row.row1 {
    justify-content: space-evenly;
}
.formation-field.dot .formation-row.row2 {
    justify-content: space-between;
}
.formation-field.dot .formation-row.row3,
.formation-field.dot .formation-row.row4 {
    justify-content: space-around;
}
/*bow*/
.formation-field.bow .formation-row.row1 {
    justify-content: space-around;
}
.formation-field.bow .formation-row.row2 {
    justify-content: space-between;
}
/*middle*/
.formation-field.middle .formation-row.row1 {
    justify-content: space-evenly;
}
/*neo*/
.formation-field.neo .formation-row.row1,
.formation-field.neo .formation-row.row4 {
    justify-content: space-between;
}
.formation-field.neo .formation-row.row2 {
    justify-content: space-around;
}











.formation-battle {
    width: 450px;
    margin-bottom: 16px;
}

.formation-battle .formation-title {
    width: 450px;
}

.formation-battle .formation-field {
    width: 450px;
}
/*bbasic*/
.formation-field.bbasic .row1 {
    justify-content: space-between;
}
.formation-field.bbasic .row2 {
    margin-top: 25px;
}
/*bflat*/
.formation-field.bflat .row1 {
    justify-content: space-between;
    margin-top: 25px;
}
.formation-field.bflat .row2 {
    margin-top: 25px;
}
/*battacker*/
.formation-field.battacker .row2 {
    justify-content: space-between;
}
.formation-field.battacker .row3 {
    margin-top: 25px;
}
/*bbreak*/
.formation-field.bbreak .row1 {
    justify-content: space-between;
}
.formation-field.bbreak .row2 {
    margin-top: 50px;
}
/*bpressure*/
.formation-field.bpressure .row1 {
    justify-content: space-between;
}
.formation-field.bpressure .row3 {
    margin-top: 25px;
}
/*bslash*/
.formation-field.bslash .row1 {
    justify-content: flex-start;
}
.formation-field.bslash .row3 {
    justify-content: flex-end;
}
/*btriangle*/
.formation-field.btriangle .row1 {
    justify-content: space-between;
}
.formation-field.btriangle .row3 {
    margin-top: 25px;
}
/*blance*/
.formation-field.blance .row2 {
    justify-content: space-between;
    margin-top: 25px;
}
