:root {
    --attri-wind-color: #6bdef7;
    --attri-wood-color: #18e710;
    --attri-fire-color: #de1831;
    --attri-earth-color: #ff9c39;

    --bg-blue: #2a3546;

    --hissatsu-shoot-color: #e76b7b;
    --hissatsu-dribble-color: #4a6bd6;
    --hissatsu-block-color: #39b529;
    --hissatsu-catch-color: #de8c00;
    --hissatsu-skill-color: #73398c;
}

div.mainContainer {
    padding-left: 2%;
    padding-right: 2%;
}

/*header*/
header {
    background-color: var(--bg-blue);
    /*margin-bottom: 10px;*/
}

header div {
    padding: 10px;
}

a.header-title {
    color: inherit;
    text-decoration: none;
    font-size: 34px;
    font-weight: bold;
}

/*footer*/
footer {
    text-align: center;
    background-color: var(--bg-blue);
    margin-top: 10px;
    padding: 10px;
}

footer div {

}

/*lang*/
div.langDiv {
    float: right;
    margin-bottom: 10px;
}

div.langDiv span.input-group-text {
    background-color: white;
    display: block;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

div.langDiv select {
    max-width: max-content;
    border-radius: 0px;
}

/*table*/
table td {
  empty-cells: hide;
}

table.table-hissatsu {
    min-width: 1100px;
}

@media only screen and (min-width: 768px) {
    table.table-hissatsu {
        min-width: auto;
    }
}

table.table-growth {
    max-width: 400px;
}

table.table-hissatsu th,
table.table-growth th {
    background-color: black;
}

/*toc*/
div.toc {
    border: 1px solid white;
    width: fit-content;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.toc ul {
    list-style: none;
}

.toc .tocTitle {
    font-weight: bold;
    display: block;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 2px;
    margin-bottom: 5px;
}

.toc .tocList {
    padding-right: 32px;
}

/*attriIcon*/
.attriIcon {
    font-size: 16px;
    color: white;
    background-color: black;
    box-sizing: border-box;
    padding: 1px;
}

.attriIcon.wind{
    border: 1px solid var(--attri-wind-color);
}

.attriIcon.wood{
    border: 1px solid var(--attri-wood-color);
}

.attriIcon.fire{
    border: 1px solid var(--attri-fire-color);
}

.attriIcon.earth{
    border: 1px solid var(--attri-earth-color);
}

/*hissatsuTypeIcon*/
.hissatsuTypeIcon {
    display: inline-block;
    width: max-content;
    font-size: 10px;
    color: white;
    box-sizing: border-box;
    border: 1px solid white;
    padding: 2px 1px 2px 1px;
}

.hissatsuTypeIcon.shoot {
        background-color: var(--hissatsu-shoot-color);
}

.hissatsuTypeIcon.dribble {
        background-color: var(--hissatsu-dribble-color);
}

.hissatsuTypeIcon.block {
        background-color: var(--hissatsu-block-color);
}

.hissatsuTypeIcon.catch {
        background-color: var(--hissatsu-catch-color);
}

.hissatsuTypeIcon.skill {
        background-color: var(--hissatsu-skill-color);
}
