:root {
    --attri-wind-color: #6bdef7;
    --attri-wood-color: #18e710;
    --attri-fire-color: #de1831;
    --attri-earth-color: #ff9c39;

    --bg-blue: #2a3546;

    --hissatsu-shoot-color: #e76b7b;
    --hissatsu-dribble-color: #4a6bd6;
    --hissatsu-block-color: #39b529;
    --hissatsu-catch-color: #de8c00;
    --hissatsu-skill-color: #73398c;

    --positi-fw-color: #da1818;
    --positi-mf-color: #1e3eba;
    --positi-df-color: #027a04;
    --positi-gk-color: #e27800;
    
    --gender-male-color: #e3f6ff;
    --gender-male-bg: #055cc5;
    --gender-female-color: #ffe7eb;
    --gender-female-bg: #bd1831;

    --property-chain-color: #4a6bd6;
    --property-long-color: #399431;
    --property-block-color: #9c394a;

    --tactic-att-color: #b71626;
    --tactic-def-color: #209bd2;
    --tactic-kick-color: #99cb3b;

    --player-portrait-top-bg: #a8b0d0;
    --player-portrait-bottom-bg: #586890;
    --player-portrait-inner-border-color: #a8b0d0;
    --player-portrait-outer-border-color: #586890;
}

div.mainContainer {
    padding-left: 2%;
    padding-right: 2%;
    clear: both;
}

/*header*/
header {
    background-color: var(--bg-blue);
    /*margin-bottom: 10px;*/
}

header div {
    padding: 10px;
}

a.header-title {
    color: inherit;
    text-decoration: none;
    font-size: 34px;
    font-weight: bold;
}

/*footer*/
footer {
    text-align: center;
    background-color: var(--bg-blue);
    margin-top: 10px;
    padding: 10px;
}

footer div {

}

.short-page footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

/*lang*/
div.div-lang {
    float: right;
    margin-bottom: 10px;
}

div.div-lang span.input-group-text {
    background-color: white;
    display: block;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

div.div-lang select {
    max-width: max-content;
    border-radius: 0px;
}

/*table*/
table td {
  empty-cells: hide;
}

table.table-hissatsu {
    min-width: 1100px;
}

@media only screen and (min-width: 768px) {
    table.table-hissatsu {
        min-width: auto;
    }
}

table.table-growth {
    max-width: 400px;
}

table.table-hissatsu th,
table.table-growth th {
    background-color: black;
}

tr.black-th th {
    background-color: black;
}

/*toc*/
div.toc {
    border: 1px solid white;
    width: fit-content;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.toc ul {
    list-style: none;
}

.toc .toc-title {
    font-weight: bold;
    display: block;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 2px;
    margin-bottom: 5px;
}

.toc .toc-list {
    padding-right: 32px;
}

/*player*/
ul.player-detail li {
    margin-bottom: 5px;
}

.player-versions .player-container {
    padding-left: 32px;
}

table.hissatsu-player .hissatsu-type-icon {
    width: 50px;
}

div.player-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 540px;
    margin-bottom: 20px;
}

figure.player-portrait {
    box-sizing: border-box;
    border: 2px solid var(--player-portrait-outer-border-color);
    width: fit-content;
    border-radius: 2px;
}

figure.player-portrait img {
    box-sizing: border-box;
    border: 2px solid var(--player-portrait-inner-border-color);
    background: linear-gradient(
        var(--player-portrait-top-bg) 60%,
        var(--player-portrait-bottom-bg) 40%
    );
}

/*
ul.player-detail ruby + ruby {
    padding-left: 4px;
}
*/

/*attri-icon*/
td.td-icon {
    text-align: center;
    vertical-align: middle;
}

.attri-icon {
    font-size: 16px;
    color: white;
    background-color: black;
    box-sizing: border-box;
    padding: 1px;
}

.attri-icon.wind{
    border: 1px solid var(--attri-wind-color);
}

.attri-icon.wood{
    border: 1px solid var(--attri-wood-color);
}

.attri-icon.fire{
    border: 1px solid var(--attri-fire-color);
}

.attri-icon.earth{
    border: 1px solid var(--attri-earth-color);
}

/*hissatsu-type-icon*/
.hissatsu-type-icon {
    display: inline-block;
    width: max-content;
    font-size: 10px;
    text-shadow: 0 0 3px black;
    color: white;
    box-sizing: border-box;
    border: 1px solid white;
    padding: 2px;
}

table.table-hissatsu .hissatsu-type-icon,
table.table-hissatsu-single .hissatsu-type-icon {
    display: block;
    margin: auto;
}

.hissatsu-type-icon.shoot {
    background-color: var(--hissatsu-shoot-color);
}

.hissatsu-type-icon.dribble {
    background-color: var(--hissatsu-dribble-color);
}

.hissatsu-type-icon.block {
    background-color: var(--hissatsu-block-color);
}

.hissatsu-type-icon.catch {
    background-color: var(--hissatsu-catch-color);
}

.hissatsu-type-icon.skill {
    background-color: var(--hissatsu-skill-color);
}

/*gender-icon*/
.gender-icon {
    border: 1px solid white;
    padding: 1px;
}

.gender-icon.male {
    color: var(--gender-male-color);
    background-color: var(--gender-male-bg);
}

.gender-icon.female {
    color: var(--gender-female-color);
    background-color: var(--gender-female-bg);
}

/*positi-icon*/
.positi-icon {
    display: inline-block;
    padding: 0px 4px 0px 4px;
    border: 1px solid white;
    box-sizing: border-box;
    width: 40px;
    font-weight: bold;
    text-shadow: 0 0 3px black;
    text-align: center;
}

.positi-icon.fw {
    background-color: var(--positi-fw-color);
}

.positi-icon.mf {
    background-color: var(--positi-mf-color);
}

.positi-icon.df {
    background-color: var(--positi-df-color);
}

.positi-icon.gk {
    background-color: var(--positi-gk-color);
}

/*sup-icon*/
sup.sup-icon {
    text-shadow: 0px 0px 2px black;
}

sup.sup-icon.chain {
    color: var(--property-chain-color);
}

sup.sup-icon.long {
    color: var(--property-long-color);
}

sup.sup-icon.block {
    color: var(--property-block-color);
}

/*tactic-icon*/
.tactic-icon {
    display: inline-block;
    width: 50px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 0 3px black;
    color: white;
    box-sizing: border-box;
    border: 1px solid white;
    padding: 2px;
}

.tactic-icon.att {
    background-color: var(--tactic-att-color);
}

.tactic-icon.def {
    background-color: var(--tactic-def-color);
}

.tactic-icon.attdef {
    background-color: var(--tactic-att-color);
    background: linear-gradient(
        to right, 
        var(--tactic-att-color) 50%, 
        var(--tactic-def-color) 50%
    );
}

.tactic-icon.kick {
    background-color: var(--tactic-kick-color);
}

td.td-icon .tactic-icon,
td.td-icon .hissatsu-type-icon {
    display: block;
    margin: auto;
}

/* player-search */
.form-player-search {
    max-width: 550px;
}

.player-name, .hissatsu-datalist {
    max-width: 280px;
}

.player-search-pagination .pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}
/* tournament */
.table-max-content {
    max-width: max-content;
}

.table-align-center {
    text-align: center;
}

/* route */
.table-practice-game th,
.table-path-reward th {
    background-color: black;
}

.table-practice-game table {
    width: 100%;
}

@media only screen and (min-width: 576px) {
    .table-practice-game table {
        max-width: 400px;
    }
}
