<!DOCTYPE html>
<html th:lang="#{lang.code}" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="keywords" th:content="#{formation.keywords}">
	    <meta name="description" th:content="#{formation.description}">
	    <meta name="author" th:content="#{meta.author}">
        <title th:text="${itemFormation.getNameByLang()} + ' - ' + #{webname}"></title>

        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
            crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/general.css}">
        <link rel="stylesheet" th:href="@{/css/formation.css}">
    </head>
    <body>
        <header th:replace="~{fragments/header.html :: header}"></header>

        <div th:replace="~{fragments/form-lang.html :: form-lang(url = ${url})}"></div>

        <div class="mainContainer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a 
                            th:href="@{/}"
                            th:text="#{breadcrumb.home}">
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a 
                            th:href="@{/formation}"
                            th:text="#{index.list.formation}">
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"
                        th:text="${itemFormation.getNameByLang()}">
                    </li>
                </ol>
            </nav>
            <h1 th:text="${itemFormation.getNameByLang()}"></h1>
            <div class="toc">
                <span class="toc-title" th:text="#{toc.title}"></span>
                <ul class="toc-list">
                    <li>
                        <a href="#formation">1. <span th:text="#{formation.formation}"></span></a>
                    </li>
                    <th:block th:if="${isMatch}">
                        <li>
                            <a href="#team">2. <span th:text="#{formation.team}"></span></a>
                        </li>
                        <li>
                            <a href="#obtention">3. <span th:text="#{general.obtention}"></span></a>
                        </li>
                        <li>
                            <a href="#other-languages">4. <span th:text="#{general.inOtherLanguages}"></span></a>
                        </li>
                        <li>
                            <a href="#source">5. <span th:text="#{source}"></span></a>
                        </li>
                    </th:block>
                    <th:block th:unless="${isMatch}">
                        <li>
                            <a href="#obtention">2. <span th:text="#{general.obtention}"></span></a>
                        </li>
                        <li>
                            <a href="#other-languages">3. <span th:text="#{general.inOtherLanguages}"></span></a>
                        </li>
                        <li>
                            <a href="#source">4. <span th:text="#{source}"></span></a>
                        </li>
                    </th:block>
                </ul>
            </div>

            <section class="no-bench">
                <h2 id="formation" th:text="#{team.formation}"></h2>
                <th:block th:if="${isMatch}">
                    <div th:replace="~{fragments/formation-fragments.html :: 
                        formation-scheme(
                            formation = ${itemFormation},
                            originalFormation = ${originalFormation},
                            playerIsPartOfTeam = ${ppt},
                            positiOrderByPlace = ${pop}
                        )}">
                    </div>
                </th:block>
                <th:block th:unless="${isMatch}">
                    <div th:replace="~{fragments/formation-fragments.html :: 
                        formation-battle(
                            formation = ${itemFormation},
                            battlePlayers = ${battlePlayers}
                        )}">
                    </div>
                </th:block>
            </section>

            <section th:if="${isMatch}">
                <h2 id="team" th:text="#{formation.team}"></h2>
                <ul>
                    <li th:each="team : ${teams}">
                        <a th:text="${team.getNameByLang()}"
                            th:href="@{/team/{id}(id=${team.getTeamId()})}"></a>
                    </li>
                </ul>
            </section>

            <section>
                <h2 id="obtention" th:text="#{general.obtention}"></h2>
                <p th:text="#{general.noData}"></p>
            </section>

            <section>
                <h2 id="other-languages" th:text="#{general.inOtherLanguages}"></h2>
                <div th:replace="~{fragments/other-languages.html :: 
                    other-languages(names = ${inOtherLanguages})}">
                </div>
            </section>

            <section>
                <h2 id="source" th:text="#{source}"></h2>
                <ul> 
                    <li>
                        <a th:text="#{source.niku.text}"
                            th:href="#{source.formation.niku}"></a>
                    </li>
                    <li>
                        <a th:text="#{source.fandom.text}"
                            th:href="#{source.formation.fandom}"></a>
                    </li>
                    <li>
                        <a th:text="#{source.fandomes.text}"
                            th:href="#{source.fandomes.link}"></a>
                    </li>
                </ul>
            </section>
        </div>

        <footer th:replace="~{fragments/footer.html :: footer}"></footer>
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
            crossorigin="anonymous"></script>
        <script th:src="@{/js/formLang.js}"></script>
        <script th:src="@{/js/preventFormResubmission.js}"></script>
    </body>
</html>
