<!DOCTYPE html>
<html th:lang="#{lang.code}" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="keywords" th:content="#{formationList.keywords}">
	    <meta name="description" th:content="#{formationList.description}">
	    <meta name="author" th:content="#{meta.author}">
        <title th:text="#{formationList.title} + ' - ' + #{webname}"></title>

        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
            crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/general.css}">
        <link rel="stylesheet" th:href="@{/css/formation.css}">
    </head>
    <body>
        <header th:replace="~{fragments/header.html :: header}"></header>

        <div th:replace="~{fragments/form-lang.html :: form-lang(url = ${url})}"></div>

        <div class="mainContainer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a 
                            th:href="@{/}"
                            th:text="#{breadcrumb.home}">
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"
                        th:text="#{index.list.formation}">
                    </li>
                </ol>
            </nav>
            <h1 th:text="#{formationList.title}"></h1>
            <div class="toc">
                <span class="toc-title" th:text="#{toc.title}"></span>
                <ul class="toc-list">
                    <li>
                        <a href="#about">1. <span th:text="#{formationList.about}"></span></a>
                    </li>
                    <li>
                        <a href="#match">2. <span th:text="#{formationList.match}"></span></a>
                        <ul>
                            <li th:each="team, iStat : ${teamArray}">
                                <a th:href="'#' + ${anchorsMatch.get(iStat.index)}"
                                    th:text="'2.' + (${iStat.index} + 1) + '. ' +
                                        ${team.getItemFormation().getNameByLang()}">
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#battle">3. <span th:text="#{formationList.battle}"></span></a>
                        <ul>
                            <th:block th:each="formation, iStat : ${formations}">
                                <li th:if="${iStat.index &gt; 44}">
                                    <a th:href="'#' + ${anchorsBattle.get(iStat.index - 45)}"
                                        th:text="'3.' + (${iStat.index} - 45 + 1) + '. ' +
                                            ${formation.getNameByLang()}">
                                    </a>
                                </li>
                            </th:block>
                        </ul>
                    </li>
                    <li>
                        <a href="#source">4. <span th:text="#{source}"></span></a>
                    </li>
                </ul>
            </div>

            <section>
                <h2 id="about" th:text="#{formationList.about}"></h2>
                <p th:text="#{formationList.about.p1}"></p>
                <ul>
                    <li th:each="positi : ${positis}">
                        <span th:text="${positi.getNameByLang()}"
                            class="formation-example"
                            th:classappend="${positi.getCssClass()}"></span>
                    </li>
                </ul>
                <p>
                    <span th:text="#{formationList.about.p2.l1}"></span>
                    <a th:text="#{formationList.about.p2.l2}"
                        href="/hissatsu-list#skills"></a>
                </p>
                <p th:text="#{formationList.about.p3}"></p>
            </section>

            <section>
                <h2 id="match" th:text="#{formationList.match}"></h2>
                <article th:each="team, iStat : ${teamArray}" class="no-bench">
                    <h3 th:id="${anchorsMatch.get(iStat.index)}"
                        th:text="${team.getItemFormation().getNameByLang()}"></h3>
                    <span th:text="#{formationList.similar}"></span>
                    <ul>
                        <th:block th:each="formation : ${formations}">
                            <th:block th:if="${formation.getOriginalVersion} == null">
                                <li th:if="${formation.getItemId()} == 
                                        ${team.getItemFormation().getItemId()}">
                                    <a th:href="@{/formation/{id}(id=${formation.getItemId()})}"
                                        th:text="${formation.getNameByLang()}"></a>
                                </li>                                
                            </th:block>
                            <th:block th:unless="${formation.getOriginalVersion} == null">
                                <li th:if="${formation.getOriginalVersion().getItemId()} ==
                                        ${team.getItemFormation().getItemId()}">
                                    <a th:href="@{/formation/{id}(id=${formation.getItemId()})}"
                                        th:text="${formation.getNameByLang()}"></a>
                                </li>                  
                            </th:block>
                        </th:block>
                    </ul>
                    <th:block th:if="${team.getItemFormation().getOriginalVersion} == null">
                        <div th:replace="~{fragments/formation-fragments.html :: 
                            formation-scheme(
                                formation = ${team.getItemFormation()},
                                originalFormation = ${team.getItemFormation()},
                                playerIsPartOfTeam = ${pptArray.get(iStat.index)},
                                positiOrderByPlace = ${popArray.get(iStat.index)}
                            )}">
                        </div>
                    </th:block>
                    <th:block th:unless="${team.getItemFormation().getOriginalVersion} == null">
                        <div th:replace="~{fragments/formation-fragments.html :: 
                            formation-scheme(
                                formation = ${team.getItemFormation()},
                                originalFormation = ${team.getItemFormation().getOriginalVersion()},
                                playerIsPartOfTeam = ${pptArray.get(iStat.index)},
                                positiOrderByPlace = ${popArray.get(iStat.index)}
                            )}">
                        </div>
                    </th:block>
                </article>
            </section>

            <section>
                <h2 id="battle" th:text="#{formationList.battle}"></h2>
                <th:block th:each="formation, iStat : ${formations}">
                    <article th:if="${iStat.index &gt; 44}">
                        <h3 th:id="${anchorsBattle.get(iStat.index - 45)}"
                            th:text="${formation.getNameByLang()}"></h3>
                        <th:block th:if="${formation.getItemId()} == 788 or
                                    ${formation.getItemId()} == 789">
                            <p th:text="#{general.noData}"></p>
                        </th:block>
                        <th:block th:unless="${formation.getItemId()} == 788 or
                                    ${formation.getItemId()} == 789">
                            <div th:replace="~{fragments/formation-fragments.html :: 
                                formation-battle(
                                        formation = ${formation},
                                        battlePlayers = ${battlePlayers}
                                )}">
                            </div>
                        </th:block>
                    </article>
                </th:block>
            </section>

            <section>
                <h2 id="source" th:text="#{source}"></h2>
                <ul> 
                    <li>
                        <a th:text="#{source.niku.text}"
                            th:href="#{source.formation.niku}"></a>
                    </li>
                    <li>
                        <a th:text="#{source.fandom.text}"
                            th:href="#{source.formation.fandom}"></a>
                    </li>
                    <li>
                        <a th:text="#{source.fandomes.text}"
                            th:href="#{source.fandomes.link}"></a>
                    </li>
                </ul>
            </section>
        </div>

        <footer th:replace="~{fragments/footer.html :: footer}"></footer>
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
            crossorigin="anonymous"></script>
        <script th:src="@{/js/formLang.js}"></script>
        <script th:src="@{/js/preventFormResubmission.js}"></script>
    </body>
</html>
