<!DOCTYPE html>
<html th:lang="#{lang.code}" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="keywords" th:content="#{player.keywords}">
	    <meta name="description" th:content="#{player.description}">
	    <meta name="author" th:content="#{meta.author}">
        <title th:text="${player.getNameByLang()}"></title>

        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
            crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/general.css}">
    </head>
    <body>
        <header th:replace="~{fragments/header.html :: header}"></header>

        <div th:replace="~{fragments/form-lang.html :: form-lang(url = ${url})}"></div>
        <br style="clear: both;">

        <div class="mainContainer">
            <h1 th:text="${player.getNameByLang()}"></h1>
            <div class="toc">
                <span class="toc-title" th:text="#{toc.title}"></span>
                <ul class="toc-list">
                    <li>
                        <a href="#basic">1. <span th:text="#{hissatsu.basicInformation}"></span></a>
                    </li>

                    <li>
                        <a href="#stats">2. <span th:text="#{hissatsu.restriction}"></span></a>
                    </li>
                    <li>
                        <a href="#hissatsu">3. <span th:text="#{hissatsu.comparison}"></span></a>
                    </li>
                    <li>
                        <a href="#friend">4. <span th:text="#{general.obtention}"></span></a>
                    </li>
                    <li>
                        <a href="#teams">4. <span th:text="#{general.obtention}"></span></a>
                    </li>
                </ul>
            </div>
<!--
            <section>
                <h2 id="basic" th:text="#{hissatsu.basicInformation}"></h2>
                <div th:replace="~{fragments/hissatsu-tables.html :: 
                    hissatsu-single(
                        itemHissatsu = ${itemHissatsu}, 
                        attri = ${attri}, 
                        hissatsuType = ${hissatsuType}, 
                        hissatsuTypeId = ${hissatsuTypeId}, 
                        name = ${name}, 
                        tp = ${tp}, 
                        basePower = ${basePower}, 
                        maxPower = ${maxPower},
                        participants = ${participants}, 
                        foul = ${foul}, 
                        isBlock = ${isBlock}, 
                        shootSpecialPropertyName = ${shootSpecialPropertyName}, 
                        catchTypeName = ${catchTypeName}
                    )}">
                </div>
            </section>
-->

            <section>
                <h2 id="stats" th:text="#{player.stats}"></h2>
                <div th:replace="~{fragments/player-fragments.html :: 
                    player-stats(
                        playerStats = ${player.getPlayerStats()}
                    )}">
                </div>
            </section>

            <section>
                <h2 id="hissatsu" th:text="#{player.hissatsu}"></h2>
                <div th:replace="~{fragments/hissatsu-tables.html :: 
                    hissatsu-player(
                        playerLearnsHissatsu = ${playerLearnsHissatsu},
                        shootArray = ${shootArray}, 
                        dribbleArray = ${dribbleArray},
                        blockArray = ${blockArray},
                        catchArray = ${catchArray},
                        skillArray = ${skillArray}
                    )}">
                </div>
            </section>


<!--

            <section>
                <h2 id="other-languages" th:text="#{general.inOtherLanguages}"></h2>
                <div th:replace="~{fragments/other-languages.html :: 
                    other-languages(names = ${inOtherLanguages})}">
                </div>
            </section>
-->
        </div>

        <footer th:replace="~{fragments/footer.html :: footer}"></footer>
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
            crossorigin="anonymous"></script>
        <script th:src="@{/js/formLang.js}"></script>
        <script th:src="@{/js/preventFormResubmission.js}"></script>
    </body>
</html>
