<!DOCTYPE html>
<html th:lang="#{lang.code}" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="keywords" th:content="#{teamList.keywords}">
	    <meta name="description" th:content="#{teamList.description}">
	    <meta name="author" th:content="#{meta.author}">
        <title th:text="#{teamList.title} + ' - ' + #{webname}"></title>

        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
            crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/general.css}">
    </head>
    <body>
        <header th:replace="~{fragments/header.html :: header}"></header>

        <div th:replace="~{fragments/form-lang.html :: form-lang(url = ${url})}"></div>

        <div class="mainContainer">
            <h1 th:text="#{teamList.title}"></h1>
            <div class="toc">
                <span class="toc-title" th:text="#{toc.title}"></span>
                <ul class="toc-list">
                    <li>
                        <a href="#ff">1. <span th:text="#{teamList.ff}"></span></a>
                    </li>
                    <li>
                        <a href="#national">2. <span th:text="#{teamList.national}"></span></a>
                    </li>
                    <li>
                        <a href="#aliea">3. <span th:text="#{teamList.aliea}"></span></a>
                    </li>
                    <li>
                        <a href="#other">4. <span th:text="#{teamList.other}"></span></a>
                    </li>
                    <li>
                        <a href="#ffi1">5. <span th:text="#{teamList.ffi1}"></span></a>
                    </li>
                    <li>
                        <a href="#ffi2">6. <span th:text="#{teamList.ffi2}"></span></a>
                    </li>
                    <li>
                        <a href="#no-binder">7. <span th:text="#{teamList.noBinder}"></span></a>
                    </li>
                    <li>
                        <a href="#source">8. <span th:text="#{source}"></span></a>
                    </li>
                </ul>
            </div>

            <section>
                <h2 id="ff" th:text="#{teamList.ff}"></h2>
                <ul th:replace="~{fragments/team-fragments.html :: 
                    team-list(
                        teams = ${ff}
                    )}">
                </ul>
            </section>

            <section>
                <h2 id="national" th:text="#{teamList.national}"></h2>
                <ul th:replace="~{fragments/team-fragments.html :: 
                    team-list(
                        teams = ${national}
                    )}">
                </ul>
            </section>

            <section>
                <h2 id="aliea" th:text="#{teamList.aliea}"></h2>
                <ul th:replace="~{fragments/team-fragments.html :: 
                    team-list(
                        teams = ${aliea}
                    )}">
                </ul>
            </section>

            <section>
                <h2 id="other" th:text="#{teamList.other}"></h2>
                <ul th:replace="~{fragments/team-fragments.html :: 
                    team-list(
                        teams = ${other}
                    )}">
                </ul>
            </section>

            <section>
                <h2 id="ffi1" th:text="#{teamList.ffi1}"></h2>
                <ul th:replace="~{fragments/team-fragments.html :: 
                    team-list(
                        teams = ${ffi1}
                    )}">
                </ul>
            </section>

            <section>
                <h2 id="ffi2" th:text="#{teamList.ffi2}"></h2>
                <ul th:replace="~{fragments/team-fragments.html :: 
                    team-list(
                        teams = ${ffi2}
                    )}">
                </ul>
            </section>

            <section>
                <h2 id="noBinder" th:text="#{teamList.noBinder}"></h2>
                <ul th:replace="~{fragments/team-fragments.html :: 
                    team-list(
                        teams = ${noBinder}
                    )}">
                </ul>
            </section>

            <section>
                <h2 id="source" th:text="#{source}"></h2>
                <ul> 
                    <li>
                        <a th:text="#{source.atwiki.text}"
                            th:href="#{source.atwiki.link}"></a>
                    </li>
                    <li>
                        <a th:text="#{source.fandom.text}"
                            th:href="#{source.fandom.link}"></a>
                    </li>
                    <li>
                        <a th:text="#{source.fandomes.text}"
                            th:href="#{source.fandomes.link}"></a>
                    </li>
                </ul>
            </section>
        </div>

        <footer th:replace="~{fragments/footer.html :: footer}"></footer>
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
            crossorigin="anonymous"></script>
        <script th:src="@{/js/formLang.js}"></script>
        <script th:src="@{/js/preventFormResubmission.js}"></script>
    </body>
</html>
